/* ------------CSS chung---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Futura, sans-serif;
}

.main-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f8f8f8;
    overflow: hidden;
}

.cart-section,
.checkout-section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.9s ease;
}

.cart-section {
    transform: translateX(0);
    z-index: 1;
}

.checkout-section {
    transform: translateY(100%);
    z-index: 2;
}

/* -------------------------------- */


/* CSS phần Cart */
.cart-section .left {
    flex: 2;
    padding: 20px;
    background-color: #ffffff;
    min-height: 100vh;
    overflow-y: auto;
}

.cart-section .header-left {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.cart-section .left-section i {
    cursor: pointer;
    color: gray;
    font-size: 14px;
}

.cart-section .left-section a {
    color: gray;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.cart-section .left-title {
    font-size: 28px;
    margin-top: 22px;
}

.cart-section .left-countItem {
    position: absolute;
    right: 10px;
    color: rgba(0, 0, 0, 0.805);
    top: 50px;
    font-weight: bold;
}

.cart-section .content-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-section .item-header,
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-section .item-header {
    font-weight: bold;
    text-transform: uppercase;
}

.cart-section .column {
    flex: 1;
    text-align: center;
    font-size: 14px;
    min-width: 0;
    overflow: hidden;
}

.cart-section .column:nth-child(1) {
    flex-grow: 2;
    text-align: start;
}

.cart-section .product {
    flex-grow: 2;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: left;
}

.cart-section .product-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.cart-section .product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-section .product-info a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(92, 80, 80, 0.507);
    font-size: 15px;
    white-space: nowrap;
}

.cart-section .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cart-section .size {
    font-weight: 400;
    font-size: 15px;
}

.cart-section .quantity i {
    cursor: pointer;
    display: block;
}

.cart-section .quantity span {
    font-size: 15px;
}

.cart-section .price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* font-weight: bold; */
    white-space: nowrap;
    /* font-weight: bolder; */
}

.cart-section .priceNumber {
    display: block;
    margin-left: 30px;
    font-size: 15px;
}

.cart-section .minus,
.plus {
    border: 1px solid black;
    color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.cart-section .iconX i {
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
}

.cartItemContent {
    overflow-y: auto;
}

/* icon gio hang rong */
.cartEmpty {
    display: block;
    width: 500px;
    height: 300px;
    margin-left: 250px;
    margin-top: 50px;
}

.iconCartEmpty {
    font-size: 200px;
}

.empty-cart {
    font-size: 18px;
    font-weight: bold;
    
}


/* CSS phần Right trong Cart */
.cart-section .right {
    flex: 1;
    background-color: #f1f3f5;
    color: white;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #dee2e6;
}

.cart-section .header-right {
    position: relative;
}

.cart-section .header-right i {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 20px;
    font-size: 25px;
    color: black;
    transition: transform 0.3s ease-in;

}

.cart-section .header-right #closeBtn:hover {
    transform: rotate(90deg);
}

.cart-section .header-right h2 {
    font-size: 30px;
    font-weight: 500;
    color: rgb(27, 23, 18);
    margin: 60px 0 60px 30px;
}

.cart-section .content-right .row {
    color: rgb(27, 23, 18);
    display: flex;
    justify-content: space-between;
    margin: 0 30px 10px;
}

.cart-section .content-right .row-4 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    color: black;
}

.cart-section .content-right .row-4 input {
    width: 80%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: transparent;
    border-bottom: 1px solid rgba(90, 88, 88, 0.774);
    transition: border-color 0.3s;
}

.cart-section .content-right .row-4 input:focus {
    border-bottom-color: rgba(220, 220, 220, 0.445);
}

.cart-section .content-right .row-4 input::placeholder {
    color: rgb(179, 171, 171);
}

.cart-section .content-right .value {
    font-weight: bold;
}

.cart-section .footer-right {
    display: block;
    margin-top: auto;
    padding: 20px 30px;
    /* width: 100px; */
}

.cart-section .footer-total {
    display: flex;
    justify-content: space-between;
    color: rgb(27, 23, 18);
    font-weight: bold;
    font-size: 17px;
}


.cart-section .footer-right #checkout-btn {
    width: 100%;
    height: 50px;
    background-color: #171b4e5e;
    border: none;
    border-radius: 5px;
    color: rgb(27, 23, 18);
    font-weight: bold;
    margin-top: 20px;
}

.cart-section #checkout-btn:hover {
    background-color: #4110bd;
    cursor: pointer;
}

/* .cart-section .container .checkout-section {
    display: none;
} */



/* -------CSS phần Checkout------------- */

/* Left Column */
.checkout-section {
    display: flex;
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
}

.checkout-section .left {
    width: 70%;
    min-height: 100vh;
    background: #e7e1e1;
    padding: 20px;
    height: auto;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 2;
}

.checkout-section .left.hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(100%);
}

.checkout-section .left.active {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transform: translateY(0);
}

/* Header Left */
.checkout-section .header-left {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background: #e7e1e1;
    margin-bottom: 80px;
}

.checkout-section .header-left p {
    color: #454545;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
}

/* Content Left */
.checkout-section .content-left {
    display: flex;
    gap: 20px;
}

.checkout-section .content-left-columnsleft {
    width: 20%;
    margin-left: 10px;
    margin-top: 5px;
}

.checkout-section .content-left-columnsleft p {
    text-transform: uppercase;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.checkout-section #close-checkout {
    cursor: pointer;
}


.checkout-section .content-left-columnsright {
    width: 80%;
}


.checkout-section .content-left-columnsright h1 {
    font-size: 28px;
    font-style: italic;
    font-weight: 600;
    color: #444;
    margin-bottom: 20px;
}

.checkout-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.checkout-section .input-group {
    position: relative;
    width: 100%;
}

.checkout-section .input-group input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border: none;
    background-color: #f0f4ff;
    outline: none;
    border-bottom: 1px solid #8c8a87;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.checkout-section .input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: #aaa;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.checkout-section .input-group:focus,
.checkout-section .input:not(:placeholder-shown) {
    border-color: #444;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.checkout-section .input-group input:focus+label,
.checkout-section .input-group input:not(:placeholder-shown)+label {
    top: -10px;
    left: 8px;
    font-size: 14px;
    color: #444;
    padding: 0 5px;
}

.checkout-section .name-group {
    display: flex;
    gap: 20px;
}

.checkout-section .name-group .input-group {
    flex: 1;
    margin-bottom: 20px;
}

.checkout-section input {
    border: none;
    border-bottom: 2px solid #ddd;
    background-color: transparent;
    padding: 8px;
    font-size: 14px;
}

.checkout-section input::placeholder {
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.checkout-section input:focus {
    border-bottom-color: #444;
    transition: border-color 0.3s;
    outline: none;
}

.checkout-section .name-group {
    display: flex;
    gap: 20px;
}

.checkout-section .name-group input {
    width: 100%;
}

.checkout-section .preceed-btn {
    text-align: center;
    color: white;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #010212;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.checkout-section .preceed-btn:hover {
    cursor: pointer;
    background-color: #111149;
}

/* Right Column */
.checkout-section .right {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

/* Header Right */
.checkout-section .right .header-right {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.checkout-section .header-right h3 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.checkout-section .header-right span {
    color: #8c8a87;
    font-size: 14px;
    cursor: pointer;
}

.checkout-section .header-right span:hover {
    text-decoration: underline;
}

/* Content Right */
.checkout-section .content-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
}

.checkout-section .content-right .information {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    /*background: #fff;*/
    margin-bottom: 10px;
    /*border: 1px solid #ddd;*/
    /*border-radius: 6px;*/
}

.checkout-section .information-right span {
    /*margin-right: 5px;*/
    color: #555;
}

.checkout-section .information-right i {
    margin-right: 5px;
    font-weight: inherit;
}


/* Footer Right */

.checkout-section .footer-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
}


.checkout-section .footer-total {
    padding: 10px 16px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.checkout-section .footer-total span {
    margin-left: 50px;
}

/* Payment */



.infor-payment {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    max-width: 900px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(100%);
    visibility: hidden;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    background: #e7e1e1;
    padding: 20px;
    border-radius: 0 10px 10px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100vh;
}

.infor-payment .checkout .close-payment {
    color: #333;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infor-payment .checkout .close-payment:hover {
    cursor: pointer;
}


.infor-payment.hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(100%);
}


.infor-payment.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    z-index: 100;
}

.infor-payment h1 {
    font-size: 20px;
    color: #333;
    /* text-align: center; */
    margin-left: 100px;
}

.infor-payment input {
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    margin-left: 100px;
    width: 60%;
    padding: 10px;
    font-size: 14px;
    transition: border-color 0.2s ease-in-out;
}

.infor-payment .form-group {
    position: relative;
    width: 100%;
}

.infor-payment .form-group label {
    position: absolute;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    color: #aaa;
}

.infor-payment .form-group input:focus,
.infor-payment .form-group input:not(:placeholder-shown) {
    border-color: #444;
}

.infor-payment .form-group input:focus + label,
.infor-payment .form-group input:not(:placeholder-shown) + label {
    top: -10px;
    left: 100px;
    font-size: 14px;
    color: #444;
    padding: 0 5px;
}

.infor-payment input::placeholder {
    font-weight: bold;
    color: #aaa;
}

.infor-payment input:focus {
    outline: none;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    transition: border-color 0.2s;
}

.infor-payment .city-phone {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 65%;
    position: relative;
}

.infor-payment .city-phone div {
    position: relative;
}

.infor-payment .city-phone label {
    position: absolute;
}


.infor-payment .city-phone label {  
    left: 110px;
}

.infor-payment .city-phone input {
    flex: 1;
}

.checkOldAddress {
    display: flex;
    flex-direction: row;
}

.checkOldAddress label {
    white-space: nowrap;
}

.checkOldAddress input {
    width: 20%;
    padding: 0;

}

.infor-payment .proceed-btn {
    color: #fff;
    width: 30%;
    margin-left: 100px;
    height: 50px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.85);
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.infor-payment .proceed-btn:hover {
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.9);
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    .infor-payment {
        width: 100%;
        /* Toàn màn hình trên thiết bị nhỏ */
        max-width: none;
        border-radius: 0;
        /* Loại bỏ bo góc */
    }
}

/*------------payment method---------------*/
.paymentMethod {
    position: absolute;
    z-index: 200;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    background: #e7e1e1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 100vh;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
}

.paymentMethod.active {
    visibility: visible;
    opacity: 1;
    z-index: 200;
    transform: translateY(0);
}

.paymentMethod.hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(100%);
}

.paymentMethod .nodejs {
    transition: transform 0.3s ease-in-out,font-size 0.3s ease-in-out;
}

.paymentMethod .nodejs:hover {
    cursor: pointer;
    font-size: 25px;
    /* font-weight: bold; */
    transform: rotate(360deg);
}

.paymentMethod form {
    width: 50%;
    margin-top: 60px;
    margin-left: 150px; 
}

.paymentMethod form h2 {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: start;
}

.paymentMethod .payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #555;
    display: flex;
    gap: 10px;
}

.paymentMethod .payment-option input {
    margin-right: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.paymentMethod .infor {
    margin-top: 40px;
}

.paymentMethod .infor .input-group {
    position: relative;
    margin-bottom: 20px;
}

.paymentMethod .infor .input-group input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.paymentMethod .infor .input-group input:focus {
    border-bottom-color: #007bff;
}

.paymentMethod .infor .input-group label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: all 0.3s ease-in-out;
    pointer-events: none; /* Để không ảnh hưởng khi click vào input */
}

.paymentMethod .infor .input-group input:focus + label,
.paymentMethod .infor .input-group input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 12px;
    color: #007bff;
}


.paymentMethod .expiration-code {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.paymentMethod .expiration-code .input-group {
    flex: 1;
}

input::placeholder {
    color: transparent;
}

.paymentMethod .expiration-code label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    white-space: nowrap;
    font-weight: bold;
}

.paymentMethod .expiration-code input {
    border: 1px solid #ddd;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease-in-out;
    font-size: 16px;
}

.paymentMethod .expiration-code input:focus {
    border-color: #007bff;
}

.paymentMethod .checkbox-group {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
    font-size: 14px;
    color: #555;
}

.paymentMethod .checkbox-group input {
    margin-right: 8px;
}

.paymentMethod .pay {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out,transform 0.2s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paymentMethod .pay:hover {
    background-color: #0056b3;
}

.error {
    border: 2px solid red;
}

.paymentMethod input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
