* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
hr {
    color: black;
}
/* -------HEADER---------- */
.header {
    background-color: #FEECE2;
    width: 100%;
}
.nav_hover:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.1s;
}
.header-top {
    display: flex;
    justify-content: end;
    padding: 5px 40px;
}
.header-top .cart-button {
    display: inline-block;
    padding: 10px 0 10px 10px;
    transition: .1s;
}
.header-top .cart-button:hover {
    color: white;
    transition: .1s;
    cursor: pointer;
}
.header-top .user-button {
    display: inline-block;
    border-right: 1px solid grey;
}
.header-top .user-button .login {
    display:  inline-block;
    padding: 10px;
}
.header-top .user-button .signup {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid black;
}
.header-top .user-button i {
    display: none;
}
.header-bottom {
    padding: 40px 40px;
}
.header-bottom .logo-div {
    display: inline-block;
    background-color: black;
    width: 130px;
}
.header-bottom .nav-list {
    display: inline-block;
    float: right;
}
.header-bottom .nav-list .nav-item {
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    transition: 0.2s;
}
.header-bottom .subnav {
    display: block;
    overflow: hidden;
    color: black;
    background-color: white;
    position: absolute;
    list-style-type: none;
    padding: 5 10;
    top: 100%;
    left: 0;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
#nav1 i { 
    transform: rotate(0deg);
    transition: 0.4s;
}
.header-bottom #nav1:hover > #subnav1 {
    max-height: 300px;
    transition: max-height 0.2s ease-in;
}
.header-bottom #nav2:hover > #subnav2 {
    max-height: 300px;
    transition: max-height 0.2s ease-in;
}
.header-bottom .subnav li {
    padding: 5px 10px;
    width: 100px;
    transition: 0.1s;
}
.header-bottom .subnav li:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.1s;
}
.header-bottom .search-button {
    display: inline-block;
    padding: 5px 0px;
    padding-left: 20px;
    float: right;
    transition: 0.1s;
}
.header-bottom .search-button:hover {
    cursor: pointer;
    color: white;
    transition: 0.1s;
}