*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left {
    width: 70%;
    padding: 20px;
    background-color: white;
    overflow: hidden;
}
   
.item {
    width: 100%;
    margin-top: 20px;
    border-collapse:collapse; 
}

/* .header-left, .header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
} */

.item th, .item id {
    padding: 10px;
    text-align: left;
}

.item th {
    color: grey;
}

/* .header-left i ,.header-right i {
    font-size: 20px;
    cursor: pointer;
} */

.header-left {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

 .header-left i {
    color: gray;
    font-size: 20px;
    
}

 .header-left a {
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

.header-left span {
    margin-left: auto;
    color: gray;
    font-size: 12px;
}
/* 
.left .content-left {
    display: flex;
}

.content-left .item {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
} */

.quantily i {
    cursor: pointer;
    margin: 0 5px;
}

.item thead th {
    color: grey;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.item thead th:nth-child(1),
.item tbody td:nth-child(1) {
    width: 40%;
}

.item thead th:nth-child(2),
.item tbody td:nth-child(2) {
    width: 20%;
}

.item thead th:nth-child(3),
.item tbody td:nth-child(3) {
    width: 20%;
}

.item thead th:nth-child(4),
.item tbody td:nth-child(4) {
    width: 20%;
}

.product {
    display: flex;
    align-items: center;
}

.product-img {
    width: 100%;
    margin-right: 10px;
}
 .product-infor {
    color: black;
    font-weight: bold;
    display: block;
    width: 30%;
    text-decoration: none;
}

.product-infor a {
    text-decoration: none;
    color: rgba(92, 80, 80, 0.507);
    font-size: 15px;
}


.product-img img {
    width: 80px;
    height: auto;
}

.right {
    width: 30%;
    /* padding:20px; */
    background-color: rgb(58, 66, 85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.header-right h2 {
    margin: 0;
    padding-bottom: 10px;
    font-size: 25px;
}

.header-right i {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    font-size: 25px;
    color: grey;
}

.header-right h1 {
    font-size: 20px;
}

.content-right table {
    width: 100%;
    margin-top: 20px;
    color: white;
}

.content-right td {
    padding: 10px 0;
}

.content-right input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.footer-right .checkout-btn {
    width: 70%;
    padding: 15px;
    background-color: #171b4e5e;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 65px;
    margin-bottom: 20px;
}

.checkout-btn:hover {
    background-color: #4110bd;
    cursor: pointer;
}




